<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="doitlaterdiv">
    <p (click)="doitlaterTapped()" class="p">DO IT LATER   <ion-icon name="arrow-forward-outline"></ion-icon></p>
  </div>
  <div class="doitlaterdiv">
    <h2>Welcome</h2>
    <p>Start your journy by setting up an account</p>
  <div >
    <ion-button expand="full" (click)="signupWithno()">SIGNUP WITH MOBILE NUMBER</ion-button>
  </div>
<P class="text">OR</P>
<div class="wrapper">
  <ion-button><ion-icon name="logo-google"></ion-icon></ion-button>
  <ion-button><ion-icon name="logo-facebook"></ion-icon></ion-button>
  <p class="text">Already have an account? Login</p>
</div>
</div>
</ion-content>
