<ion-header>
  <ion-toolbar>
    
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="doitlaterdiv">
    <h2>One step away</h2>
    <p>Enter your mobile number and authenticate with otp</p>
  <div >
      <ion-item>
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input></ion-input>
        </ion-item>
    <ion-button class="button"  (click)="signupWithno()">SIGNUP WITH MOBILE NUMBER</ion-button>
  </div>
  </div>
</ion-content>
