
.doitlaterdiv
{
    margin-top:50px;
    //margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
 
}


.button{
    margin-top:20px;
    padding-left: 30px;
    padding-right: 30px;
}
.p{
    color: #008CBA;
    font-weight: 30px;
}
.text {
    text-align: center;
  }
