.my-toolbar{
    --background: rgb(0, 160, 226);
    color: white;
}
.capitalize { text-transform: capitalize; }
.tabbar-cnt{
ion-tab-button{
    
    width:25%;
    font-size:13px!important;
}
img{


    
    height:50%;
    width:50%;
}
}