<ion-header>
  <ion-toolbar>
    <ion-title>My orders</ion-title>
  
      <ion-searchbar></ion-searchbar>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="favorite">
    <ion-segment-button value="active">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cancelled">
      <ion-label>Cancelled</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>Completed</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
