.my-toolbar{
    --background: rgb(0, 160, 226);
    color: white;
}

ion-img {
  height:80px;
  width: 80px;
  border-radius:10px;
}
ion-label{
    padding-left: 20px;
}
.paddedimg {
    padding-left: 10px;
    padding-right: 10px;
  }

  .cat-pdl{
   
.rat-pdl{
   color:#ffc409;
}

h2{
    font-size:16px;
  }
}
